.order-page {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  
  .order-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
  }
  
  .order-form, .order-summary {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
  }
  
  .order-form h3, .order-summary h3 {
    margin-bottom: 15px;
    color: #f2c401;
  }
  
  .order-form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
  }
  
  .order-form input,
  .order-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .order-form textarea {
    min-height: 80px;
  }
  
  .order-summary .order-item,
  .order-summary .discount-code,
  .order-summary .order-total {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
  
  .order-button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #f2c401;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
  }

  /* RESPONSIVE */
@media (max-width: 834px) {
  .order-container {
    flex-direction: column; /* Xếp dọc */
    align-items: center; /* Căn giữa */
  }

  .order-form, .order-summary {
    width: 90%; /* Chiếm rộng hơn */
  }
  .order-summary{
    margin-bottom: 20px;
  }
}